.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

svg {
  display: inline-block;
}

h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 16px 0;
}
